
$color-fondo: #121212;
$color-principal: red;
$color-secundario: red;
$color-texto: red;
$color-texto-secundario: red;
$color-amarillo: yellow;
$color-negro-transparente: rgba(0, 0, 0, 0.4);
$color-sombra-roja: rgba(229, 9, 20, 0.6);
