@use '../utilidades/variables' as v;
@use '../utilidades/mixin';

.nav-doble {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 40px auto;
  padding-left: 0;
  list-style: none;

  li {
    list-style: none;
  }

  @include mixin.respond-to(tablet) {
    flex-direction: row;
    gap: 60px;
    margin: 50px auto;
    justify-content: center;
  }
}

.nav-btn {
  @include mixin.boton-estilo(#111);

  width: 150px;

  &:hover {
    background-color: v.$color-principal;
  }

  @include mixin.respond-to(tablet) {
    padding: 18px 36px;
    font-size: 20px;
    width: auto;
  }
}
